<main class="contenedor">
    <form action="/vacantes/nueva" method="POST" class="default-form">
        <h3>Informacion general</h3>

        <div class="campo">
            <label>Titulo</label>
            <input type="text" name="titulo" placeholder="Ej: React developer" required>
        </div>

        <div class="campo">
            <label>Empresa</label>
            <input type="text" name="empresa" placeholder="Ej: Empresa contratante" required>
        </div>

        <div class="campo">
            <label>Ubicacion</label>
            <input type="text" name="ubicacion" placeholder="Ej: Mexico o remoto" required>
        </div>

        <div class="campo">
            <label>Salario</label>
            <input type="text" name="salario" placeholder="Ej: $600 USD" required>
        </div>

        <div class="campo">
            <label>Contrato</label>
            <select>
                <option value="">-- Selecciona --</option>
                <option value="Freelance">Freelance</option>
                <option value="Tiempo completo">Tiempo completo</option>
                <option value="Medio tiempo">Medio tiempo</option>
                <option value="Por proyecto">Por proyecto</option>
            </select>
        </div>
        <h3>Descripcion del puesto</h3>
    </form>
</main>